/* Resete padrão da página */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    outline:none;
    list-style-type: none;
    scroll-behavior: smooth;
}

html,body {
    height:100%;
}

.container-all {
    width: 100%;
    max-width:1200px;
    margin:0 auto;
    padding:0 2%;
}

.flex-compart {
    display: flex;
    
}


/***/