/* import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/***/
/* import css */
@import "./color.css";
/**/
/* font css */
:root {
    --font-Neue:Bebas Neue;
    --font-roboto:Roboto;
}


/* Classes Gerais */
/* header */
header {
    width: 100%;
    padding:30px 0;
    background-color:var(--color-one);
    border-bottom: 1px solid var( --color-eight);
}

header .flex-compart {
    align-items:center;
    justify-content: space-between;
}

.logo-header {
    display:flex;
    align-items: center;
    gap:0.8rem;
}

.logo-header h2 {
    color:var(--color-five);
    font-size:2.1rem;
    font-weight: normal;
    font-family:var(--font-Neue);
}


.logo-header h2 span {
    color:var(--color-fou);
}

.icon-logo {
    width:48px;
    height:48px;
    border-radius:15px;
    position: relative;
    background-color:var(--color-fou);
}

.icon-logo img {
    width:43px;
    height:43px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

nav.nav-desktop ul {
    display:flex;
}

nav.nav-desktop ul li {
    padding:0 15px;
}

nav.nav-desktop ul li a {
    color:var(--color-five);
    text-decoration: none;
    font-size: 1.2rem;
    transition: .5s ease-in;
    position: relative;
    font-family:var(--font-roboto);
}

nav.nav-desktop ul li a::after {
    content: " ";
    width: 0%;
    height:5px;
    background-color:var(--color-fou);
    position: absolute;
    bottom:-8px;
    transition: width .5s ease-in;
    left: 0;

}

nav.nav-desktop ul li a:hover::after {
    width: 100%;
}

nav.nav-desktop ul li a:hover {
    color:var(--color-fou);
}

.button-header button.btn-one {
    display:flex;
    align-items: center;
    gap:0.6rem;
    padding:14px 45px;
    border-radius:7px;
    box-shadow: 0 8px 24px var(--color-fourteen);
    position: relative;
    overflow: hidden;
    border:none;
    background-color:var(--color-fou);
    cursor: pointer;
}

.button-header button.btn-one::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color:var(--color-six); 
    opacity: 0.6;
    transition: left 0.4s ease;
}

.button-header button.btn-one:hover::before {
    left: 0;
}


.button-header button.btn-one > * {
    position: relative;
    z-index: 1;
}

.button-header button.btn-one a {
    color:var(--color-five);
    text-decoration: none;
    font-size: 1.2rem;
    font-family:var(--font-roboto);
}

.button-header button.btn-one  i {
    color:var(--color-five);
    font-size: 1.1rem;
}
/**/
/* nav mobile */
nav.nav-mobile {
    display:none;
    width:48px;
    height:48px;
    background-size:100% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
}

nav.nav-mobile ul {
    display:none;
    width: 100%;
    height:268px;
    position: absolute;
    overflow: hidden;
    text-align:center;
    border-radius:10px;
    left:0;
    top:80px;
    background-color:var(--color-ten);
    z-index:9999;
}

nav.nav-mobile ul li {
     padding: 8px 0;
     list-style-type:none;
}

nav.nav-mobile ul li:hover {
    background-color:var(--color-sixteen);
}

nav.nav-mobile ul li a {
    color:var(--color-five);
    text-decoration: none;
    font-size: 1.1rem;
    transition: .5s ease-in;
    position: relative;
    font-family:var(--font-roboto);
}

nav.nav-mobile ul li a:hover {
    color:var(--color-fou);
}

.button-mobile {
    display:flex;
    align-items: center;
    justify-content: center;
}

button.btn-mobile {

    display:flex;
    align-items: center;
    gap:0.6rem;
    padding:14px 45px;
    margin-top:1rem;
    border-radius:7px;
    box-shadow: 0 8px 24px var(--color-fourteen);
    position: relative;
    overflow: hidden;
    border:none;
    background-color:var(--color-fou);
    cursor: pointer;
}

button.btn-mobile a {
    color:var(--color-five);
    text-decoration: none;
    font-size: 1.2rem;
    font-family:var(--font-roboto);
}

button.btn-mobile  i {
    color:var(--color-five);
    font-size: 1.1rem;
}

button.btn-mobile::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color:var(--color-six); 
    opacity: 0.6;
    transition: left 0.4s ease;
}

button.btn-mobile:hover::before {
    left: 0;
}


button.btn-mobile > * {
    position: relative;
    z-index: 1;
}
/**/
/* main */
main {
    width: 100%;
    height: 100vh;
    background-image:
      linear-gradient(
        to right,
        rgba(0, 0, 0, 0.925),
        rgba(0, 0, 0, 0.945),
        rgba(0, 0, 0, 0.877),
        rgba(0, 0, 0, 0)    
      ),
      url('../img/banner_Mecanica.jpg');

    background-position: center;
    background-size: cover;
}

.left-main {
    padding: 150px 0;
}

.title-main h2 {
    color:var(--color-five);
    font-size: 5.8rem;
    max-width:800px;
    font-family:var(--font-Neue);
    font-weight: normal;
}

.title-main h2 span {
  background: linear-gradient(
    to right,
    #f10707,
    #db1919d7,
    #d11414
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-main p {
    color:var(--color-two);
    font-size: 1.2rem;
    font-family:var(--font-roboto);
    max-width:550px;
    line-height:32px;
    margin-bottom: 1rem;
}

.buttons-main {
    display:flex;
    align-items:center;
    gap: 0.5rem;
}

.btn-two {
    display:flex;
    align-items:center;
    gap:0.6rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 8px 24px var(--color-fourteen);
    padding:14px 45px;
    border-radius:7px;
    border: none;
    background-color:var(--color-fou);
    cursor: pointer;
}

.buttons-main button.btn-two::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color:var(--color-six); 
    opacity: 0.6;
    transition: left 0.4s ease;
}

.buttons-main button.btn-two:hover::before {
    left: 0;
}


.buttons-main button.btn-two > * {
    position: relative;
    z-index: 1;
}

.btn-two a {
    color:var(--color-five);
    font-size: 1.2rem;
    font-family:var(--font-roboto);
    text-decoration: none;
}

.btn-two i {
    color:var(--color-five);
     font-size:1.1rem;
}

.btn-tree {
    display:flex;
    align-items:center;
    gap: 0.6rem;
    padding: 14px 45px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.08);
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: .5s ease-in;
    cursor: pointer;
    font-weight: 500;
}

.btn-tree:hover {
    opacity:0.8;
}


.btn-tree a {
    color:var(--color-five);
    font-size: 1.2rem;
    font-family:var(--font-roboto);
    text-decoration: none;
}

.btn-tree i {
    color:var(--color-five);
     font-size:1.2rem;
}
/* section session-one */
section.session-one {
    width: 100%;
    padding:90px 0;
    background-color:var(--color-nine);
}

.title-services h2 {
    color:var(--color-five);
    font-size: 2.8rem;
    font-family:var(--font-Neue);
    font-weight: normal;
    margin-bottom: 1rem;
}

.border-right {
    width:110px;
    height:3px;
    background-color:var(--color-fou);
}

section.session-one .flex-compart {
    align-items: center;
    justify-content:space-between;
    gap:0.7rem;
    padding: 80px 0;
}

.icon-services {
    margin-bottom: 1rem;
}

.icon-services i {
    color:var(--color-fou);
    font-size: 1.8rem;
}

.card-services {
    width:460px;
    height:280px;
    border: 1px solid var(--color-eight);
    border-radius:7px;
    background-color:var(--color-ten);
    padding: 30px;
}

.card-services.active::after {
  width: 100%;
}


.card-services {
  position: relative;
  overflow: hidden;
}

.card-services::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background: #ec2525;
  transition: width 0.3s ease;
}

.card-services:hover::after {
  width: 100%;
}


.title-card {
    margin-bottom: 1rem;
}

.title-card h2 {
    color:var(--color-five);
    font-size: 1.6rem;
    font-family:var(--font-Neue);
    font-weight: normal;
}

.text-card p {
    color:var(--color-two);
    font-size: 0.9rem;
    font-family:var(--font-roboto);
    line-height: 28px;
}
/* section session-two */
section.session-two {
    width: 100%;
    padding:90px 0;
    background-color:var(--color-one);
}

.title-two {
   display: flex;
   align-items: center;
   flex-direction:column;

}

.title-two h2{
    color:var(--color-five);
    font-size: 2.8rem;
    font-family:var(--font-Neue);
    font-weight: normal;
    margin-bottom: 1.1rem;
}

.border-two {
    width:110px;
    height:3px;
    background-color:var(--color-fou);
}


section.session-two .flex-compart {
    gap:0.7rem;
    padding: 60px 0;
    justify-content: center;
}

.imagem-part1 {
    max-width:390px;
}

.imagem-part1 img {
    width: 100%;
    border-radius:10px;
}

.content-img1 {
    display: flex;
    align-items: center;
    max-width:285px;
    gap: 0.6rem;
}

.content-img1 img {
    width: 100%;
    border-radius:10px;
}

.img-parts-single {
    max-width:580px;
    padding: 10px 0;
}

.img-parts-single img {
    width: 100%;
    border-radius:10px;
}

/**/
/* section session-tree */
section.session-tree {
    width: 100%;
    padding:80px 0;
    background-color:var(--color-nine);
}

.title-tree {
    text-align: center;
}

.title-tree h2 {
    color:var(--color-five);
    font-size: 2.8rem;
    font-family:var(--font-Neue);
    font-weight: normal;
}

.icon-star {
    display:flex;
    align-items:center;
    justify-content: center;
    padding: 10px 0;
    gap:0.4rem;
}

.icon-star i {
    color:var(--color-fou);
    font-size: 1.2rem;
}

section.session-tree .flex-compart {
    align-items:center;
    justify-content: center;
    gap:0.7rem;
    padding:80px 0;
}

.test-boxs {
    width:300px;
    height:300px;
    padding:30px;
    border:1px solid var(--color-eight);
    background-color:var(--color-ten);
    border-radius:10px;
    box-shadow: 0 4px 12px var(--color-twelve);
}

.text-boxs p {
    color:var(--color-two);
    font-size:1rem;
    font-family:var(--font-roboto);
    line-height: 28px;
}

.wraper-boxs {
    display:flex;
    align-items: center;
    padding: 30px 0;
    gap: 0.6rem;
}

.profile-img {
    width:55px;
    height:55px;
    border: 1px solid var(--color-two);
    background-position: center;
    background-size: contain;
    border-radius: 50%;
}

.name-boxs h2 {
    color:var(--color-five);
    font-size: 1rem;
    font-family:var(--font-roboto);
    margin-bottom:0.4rem;
}


.name-boxs h3 {
    color:var(--color-fou);
    font-size: 0.9rem;
    font-family:var(--font-roboto);
}
/* session-four */
section.session-four {
    width: 100%;
    padding:90px 0;
    position: relative;
    background-color:var(--color-one);
}


section.session-four .flex-compart {
    align-items: center;
    justify-content:space-around;
}

.info-desk h2 {
    color:var(--color-five);
    font-size: 2.8rem;
    font-family:var(--font-Neue);
    margin-bottom: 1.5rem;
    font-weight: normal;
}

.info-desk h2 span {
    color:var(--color-fou);
}

.is-disabled {
    display:flex;
    gap:0.6rem;
    margin-bottom: 1rem;
}

.icon-hight {
  width:50px;
  height:50px;
  box-shadow: 0 3px 7px var(--color-fourteen);
  position: relative;
  background-color:var(--color-thirteen);
  border-radius:7px;
}

.icon-hight i {
    color:var(--color-fou);
    font-size: 1.6rem;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}


.title-disable h2 {
    color:var(--color-five);
    font-size:1.8rem;
    font-weight: normal;
}

.title-disable p {
    color:var(--color-two);
    font-size: 1rem;
    line-height:28px;
    font-family:var(--font-roboto);
    max-width:400px;
}

.image-about {
    max-width:400px;
    position: relative;
    
}

.image-about img {
    width: 100%;
    border-radius: 10px;
}

.retangle-diferencial {
    width:220px;
    height:90px;
    padding:15px;
    position: absolute;
    border: 1px solid var(--color-eight);
    bottom:80px;
    border-radius:10px;
    background-color:var(--color-ten);
}

.retangle-diferencial h2 {
    color:var(--color-five);
    font-size:1.8rem;
    font-family:var(--font-roboto);
    margin-bottom:0.6rem;
}

.retangle-diferencial p {
    color:var(--color-fou);
    font-size:1rem;
    font-weight: bold;
    font-family:var(--font-roboto);
}

/* session-five */
section.session-five {
    width: 100%;
    padding:90px 0;
    position: relative;
    background-color:var(--color-nine);
}

section.session-five .flex-compart {
    align-items: center;
    justify-content: space-around;
}

.form-contact h2 {
    color:var(--color-five);
    font-size:2.8rem;
    font-family:var(--font-Neue);
    font-weight: normal;
    margin-bottom: 1rem;
}

.form-contact h2 span {
    color:var(--color-fou);
}

.input-text {
    display:flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.input-text span {
    color:var(--color-five);
    font-size:0.9rem;
    font-family:var(--font-roboto);
    margin-bottom:0.7rem;
}

.input-text input[type=text] {
    width:380px;
    height:40px;
    border:none;
    font-size:1rem;
    color:var(--color-fou);
    font-family:var(--font-roboto);
    background-color:var(--color-ten);
    border: 1px solid var(--color-eight);
    padding:10px 30px;
    border-radius:7px;
}

.input-text input[type=text]::placeholder {
    color:var(--color-fou);
}

.input-text textarea {
    width:380px;
    height:150px;
    padding: 10px 30px;
    font-size:1rem;
    color:var(--color-fou);
    font-family:var(--font-roboto);
    background-color:var(--color-ten);
    border-radius:7px;
    border: 1px solid var(--color-eight);
    resize:none;
}

.input-text textarea::placeholder {
      color:var(--color-fou);
}

.input-submit  {
    margin-top: 1.5rem;
}

.input-submit button.botao-form {
    width:280px;
    height:50px;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 8px 24px var(--color-fourteen);
    font-family:var(--font-roboto);
    border:none;
    background-color:var(--color-fou);
    border-radius:7px;
    cursor: pointer;
}

.input-submit button.botao-form a {
    color:var(--color-five);
    font-size:1rem;
    font-family:var(--font-roboto);
    text-decoration:none;
}

.input-submit button.botao-form i {
    color:var(--color-five);
    font-size:1rem;
}

.input-submit button.botao-form::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color:var(--color-six); 
    opacity: 0.6;
    transition: left 0.4s ease;
}

.input-submit button.botao-form:hover::before {
    left: 0;
}


.input-submit  button.botao-form > * {
    position: relative;
    z-index: 1;
}

.map-dimension iframe {
    position: relative;
    border-radius:7px;
}

.stack-cluster {
  width:480px;
  height:200px;
  padding: 30px;
  border: 1px solid var(--color-eight);
  position: absolute;
  bottom:40px;
  border-radius:10px;
  background-color:var(--color-ten);
}

.block-group {
    display:flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.icon-stack i {
    color:var(--color-fou);
    font-size:1.8rem;
}

.title-cluster h2 {
  color:var(--color-five);
  font-size: 1.5rem;
  font-family:var(--font-Neue);
  font-weight: normal;
  margin-bottom: 0.5rem;
}

.title-cluster p {
   color:var(--color-two);
   font-size: 1rem;
   font-family:var(--font-roboto);
}

.phone-content {
    display:flex;
    align-items: center;
    gap:0.5rem;
}

.icon-phone i {
    color:var(--color-fou);
    font-size:1.8rem;
}

.title-content h2 {
  color:var(--color-five);
  font-size: 1.5rem;
  font-family:var(--font-Neue);
  font-weight: normal;
  margin-bottom: 0.5rem;
}

.title-content p {
   color:var(--color-two);
   font-size: 1rem;
   font-family:var(--font-roboto);
}

/* footer */
footer {
    width: 100%;
    padding:70px 0;
    background-color:var(--color-fifteen);
}

footer .flex-compart {
    justify-content: space-between;
}

.logo-footer {
    display:flex;
    align-items:center;
    margin-bottom:1rem;
    gap:0.7rem;
}

.icon-logo {
    width:45px;
    height:45px;
    border-radius:15px;
    position: relative;
    background-color:var(--color-fou);
}

.icon-logo img {
    width:38px;
    height:38px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.logo-footer h2 {
    color:var(--color-five);
    font-size:2.1rem;
    font-family:var(--font-Neue);
    font-weight: normal;
}


.logo-footer  h2 span {
    color:var(--color-fou);
}

.text-area p {
    color:var(--color-two);
    font-size:0.9rem;
    font-family:var(--font-roboto);
    max-width:300px;
    line-height:26px;
    margin-bottom: 1rem;
}

.social-footer {
    display:flex;
    align-items:center;
    gap:0.5rem;
}

.icon-footer {
    width:40px;
    height:40px;
    border-radius:7px;
    border: 1px solid var(--color-eight);
    position:relative;
    transition: .5s ease-in;
    background-color:var(--color-nine);
    cursor:pointer;
}

.icon-footer:hover {
    opacity:0.8;
}

.icon-footer a i {
    color:var(--color-fou);
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.title-func h2 {
    color:var(--color-five);
    font-size:2.1rem;
    font-family:var(--font-Neue);
    font-weight: normal;
    margin-bottom: 1rem;
}

.hors-func p {
    color:var(--color-two);
    font-size: 1rem;
    font-family:var(--font-roboto);
    margin-bottom: 1rem;
}

.hors-func p span {
    color:var(--color-fou);
}

.title-whats h2 {
    color:var(--color-five);
    font-size:2.1rem;
    font-family:var(--font-Neue);
    font-weight: normal;
    margin-bottom: 1rem;
}

.text-whats p {
    color:var(--color-two);
    font-size:1rem;
    font-family:var(--font-roboto);
}

.text-whats p span {
    color:var(--color-fou);
}

.title-link h2 {
    color:var(--color-five);
    margin-bottom:1rem;
    font-family:var(--font-Neue);
    font-weight: normal;
}

.acess-links p  {
    margin-bottom: 1rem;
}

.acess-links p a {
    color:var(--color-two);
    font-size: 1rem;
    transition: .5s ease-in-out;
    font-family:var(--font-roboto);
    text-decoration: none;
}

.acess-links p a:hover {
    color:var(--color-fou);

}

.border-footer {
    width: 90%;
    height:1px;
    background-color:var(--color-eight);
    margin: 0 auto;
}

.hero-head {
    position: relative;
    top:40px;
}

.text-term {
    text-align:center;
    padding:40px 0;
}

.text-term  p {
  color:var(--color-two);
  font-size: 1rem;
  font-family:var(--font-roboto);
}

.whatsapp-float {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 60px;
  height: 60px;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.whatsapp-float img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: pulse 1.5s infinite;
}


@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 var(--color-fou);
  }
  70% {
    transform: scale(1.15);
    box-shadow: 0 0 0 15px var(--color-fou);
  }
  100% {
    transform: scale(1);
  }
}

/* TOOLTIP */
.tooltip {
  position: absolute;
  right: 70px;
  background:var(--color-fou);
  color:var(--color-five);
  padding: 8px 14px;
  border-radius: 6px;
  font-size: 1.2rem;
  font-family:var(--font-Neue);
  font-weight: normal;
  white-space: nowrap;
  opacity: 0;
  transition: 0.3s;
}

.whatsapp-float:hover .tooltip {
  opacity: 1;
}

/**/ 

/*****/